html
  heml
    head
      subject  Welcome to <%= name %>  
      style.
        .shaded {            
            background-color: #f1f2f3;
            border: 1px solid #fff;
            margin: 0 33px;
        }
        .shaded column {
        }
        .shaded column .bordered {
            border-right: 1px solid #bdbdbd;
            margin: 33px auto;
        }
        .padded {
            padding: 20px;
        }
        .heading {
            max-width: 500px;
        }
        .subheading {
            max-width: 250px;
        }
        .centered {
            text-align: center;
            padding: 2px;
            margin: 0 auto;
        }
        .centeredpadded {            
            text-align: center;
            padding: 30px;
        }
        p.logo {
            margin: 0;
            padding: 10px;
            background-color: #1f5268;
        }
        p.logo img {
            margin: 0 auto;
            height: 100px;
        }
        .imgholder {   
            text-align: center;
        }
        .imgholder img {
            margin: 0 auto;
            height: 250px; 
        }
        container {
            width: 100%;
            max-width: 1200px; 
            border: 1px solid #f7f8f9;
            background-color: #f1f2f3;
        }
        footer {
            text-align: center;
            font-size: 12px;
            padding: 12px;
        }
        .bordered, .notbordered {
            width: 100%; 
            margin: 33px auto;
        }
        .card {
            margin: 11px auto; 
        }
    body
      container
        row
          p.logo
            img(src='/logo.png', alt='some image')
        row.padded
          p
            h1.centered.heading Welcome to #{name}
          p
            h3.centered.heading Lorem Ipsum dolorLorem Ipsum dolor
          p
            .centered.heading Lorem Ipsum dolorLorem Ipsum dolorLorem Ipsum dolor Lorem Ipsum dolor
        row.shaded
            row
                column
                    .card
                        .bordered
                            .imgholder
                                img(src='/logo.png', alt='some image')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum doloLorem Ipsum dolor Lorem Ipsum doloLorem Ipsum dolor  
                column
                    .card
                        .bordered
                            .imgholder
                                img(src='/logo.png', alt='some image')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum dolLorem Ipsum dolor Lorem Ipsum doloLorem Ipsum dolor
                column
                    .card
                        .notbordered
                            .imgholder
                                img(src='/logo.png', alt='some image')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolorLorem Ipsum dolor
            row
                column
                    .card
                        .bordered
                            .imgholder
                                img(src='/logo.png', alt='some image')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum dolrLorem Isum dolorLorem Ipsum dolLorem Ipsm dolor
                column
                    .card
                        .bordered
                            .imgholder
                                img(src='https://www.tendapa.co.ke/png/manage-your-stock.png', alt='manage-your-stock')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum dolorLorem Ipsum dolorLorem Ipsum dolorLorem Ipsum dolor
                column(valign="middle")
                    .card
                        .notbordered
                            .imgholder
                                img(src='https://www.tendapa.co.ke/png/stay-connected.png', alt='some image')
                            .narative
                                h5.centered.subheading Lorem Ipsum dolor
                                p.centered.subheading Lorem Ipsum dolorLorem Ipsum dolor Lorem Ipsum dolor Lorem Ipsum dolor
        row
          column
            h2.centeredpadded See you in a bit
        row
          column
            footer
                | @<%= name %> 2018. All lefts reversed
