.flex-c
    display flex
    align-items center
    justify-content center
    flex-direction row

.ivu-btn-circle,
.ivu-btn-circle-outline
    border-radius .5rem

.ivu-notice
    width 500px


.flex-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.ivu-btn-circle,
.ivu-btn-circle-outline {
     border-radius: .5rem;
}


.ivu-notice {
     width: 500px !important;
}


html,
.layout-content{
    background: #f5f7f9;
}
.ivu-badge-count {
    background: #fff;
    color: #a0a0a0;
}

.ivu-radio-inner::after {
    border-radius: 6px !important;
}